<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <p th:text="'Welcome ' + ${user.username}"></p>
    <a th:href="@{/}">Menu</a>

    <table>
            <thead>
                <tr>
                    <!--<th>Username</th>-->
                </tr>
            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td> <a th:href="@{/user/detail/{id}(id=${user.id})}">Detail</a></td>
            </tr>
    </table>

</body>
</html>